:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

.darken {
  background: #8a8a8a;
  background-blend-mode: multiply;
}

.slide {
  position: absolute;
  opacity: 0;
}

.slide[data-active] {
  opacity: 1;
}